section.get-start {
  background: $blue;
  padding: 150px 0;

  .wrapper {
    max-width: 870px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      h2 {
        font-size: 1.9rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 16px;
      }

      p {
        font-size: 13px;
        color: #fefefe;
      }
    }

    form {
      display: flex;
      justify-content: center;

      input {
        //max-width: 230px;
        padding: 10px 18px;
        border: 1px solid #4e99df7e;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        background: #4e99df7e;
        color: #fff;

        &::placeholder {
          color: #fff;
        }
      }

      a {
        font-size: 13px;
        font-weight: 600;
        color: $blue;
        background: #fff;
        padding: 10px 18px;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}
